{{ 'section-header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }}

<header class="site-header">
  <div class="header__left">
    <!-- Burger icon only shown on mobile -->
    <button class="header__burger" aria-label="Open menu" aria-expanded="false">
      {{ 'mdi-light_menu.svg' | inline_asset_content }}
    </button>

    <!-- Search icon only shown on mobile -->
    <button class="mobile__search" aria-label="Search" aria-expanded="false">
      {{ 'material-symbols-light_search.svg' | inline_asset_content }}
    </button>
  </div>

  <div class="header__logo">
    <!-- Logo -->
    <a href="{{ routes.root_url }}" class="header__logo" aria-label="{{ shop.name }}">
      {{ 'twc-logo.svg' | inline_asset_content }}
    </a>
  </div>

  <nav class="header__menu">
    <a href="/pages/tokes" class= "tokens">Tokens
      <img 
        src="{{ 'Vector.svg' | asset_url }}" 
        alt="" 
        class="menu-arrow" 
        aria-hidden="true"
      >
    </a>
    <a href="/pages/token-holders" class= "token-holders">Token Holders</a>
    <a href="/collections/merch" class= "merch">Merch</a>
    <a href="/pages/the-clubhouse" class= "the-clubhouse">The Clubhouse</a>
  </nav>

  <div class="header__right"> 
    <!-- Search -->
    <form action="{{ routes.search_url }}" method="get" class="header__search">
      <input 
        type="search" 
        name="q" 
        placeholder="Search (e.g. Mexico, Florida, Yellowstone)" 
        class="header__search-input" 
        aria-label="Search"
      >
      <span class="header__search-icon">
        {{ 'material-symbols-light_search.svg' | inline_asset_content }}
      </span>
    </form>

    <div class ="header__right-icons">
      <!-- Avatar -->
      <a href="{{ routes.root_url }}" class="header__profile" aria-label="Profile">
        {{ 'clarity_avatar-line.svg' | inline_asset_content }}
      </a>

      <!-- Cart -->
      <a href="{{ routes.root_url }}" class="header__cart" aria-label="Shopping Cart">
        {{ 'cil_cart.svg' | inline_asset_content }}
      </a>
    </div>
  </div>

  <div class="mobile-menu" hidden>
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}